# Ignore OS X finder info files
.DS_Store

# Ignore built object files
*.o

# Ignore hw3 files
hw3/**

# Ignore hw4 files and subdirectories
hw4/**

# Ignore hw5 files and subdirectories
hw5/**

# Ignore hw6 files and subdirectories
hw6/**

# Ignore hw7 files and subdirectories
hw7/**
